name: Deploy CloudFormation Templates

on:
  push:
    branches:
      - main

jobs:
  deploy-cloudformation:
    runs-on:
      - codebuild-shared-workflow-${{ github.run_id }}-${{ github.run_attempt }}
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Copy templates to S3
        run: |
          aws s3 cp templates/ s3://my-cloudformation-templates/ --recursive --exclude "*" --include "*.yaml"
      
      - name: Deploy CloudFormation Stack
        run: |
          aws cloudformation create-stack \
            --stack-name my-stack \
            --template-url https://my-cloudformation-templates.s3.amazonaws.com/s3.yaml \
            --capabilities CAPABILITY_IAM
